absl-py
accelerate
aiohappyeyeballs
aiohttp
aiohttp-cors
aiosignal
airportsdata
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
astor
asttokens
async-lru
attrs
babel
backcall
beautifulsoup4
bitsandbytes>=0.45.3
bleach
Brotli 
cachetools
certifi 
cffi
charset-normalizer 
click
cloudpickle
colorful
compressed-tensors
cos-python-sdk-v5
crcmod
datasets
debugpy
decorator
deepspeed
defusedxml
depyf
dill
diskcache
distlib
distro
docker-pycreds
docopt
einops
executing
fastapi
fastjsonschema
filelock
flash_attn
fqdn
frozenlist
fsspec
gguf
gitdb
GitPython
gmpy2 
google-api-core
google-auth
googleapis-common-protos
grpcio
h11
hf_transfer
hjson
httpcore
httptools
httpx
huggingface-hub
idna 
importlib_metadata
iniconfig
interegular
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2 
jiter
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
lark
lm-format-enforcer
Markdown
markdown-it-py
MarkupSafe 
matplotlib-inline
mdurl
mistral_common
mistune
mkl-service
mkl_fft 
mkl_random 
modelscope
mpmath 
msgpack
msgspec
multidict
multiprocess
nbclient
nbconvert
nbformat
nest-asyncio
networkx 
ninja
notebook
notebook_shim
numpy
nvidia-ml-py
openai
opencensus
opencensus-context
opencv-python-headless
outlines
outlines_core
overrides
packaging
pandas
pandocfilters
parso
partial-json-parser
peewee
peft
pexpect
pickleshare
pillow
pipreqs
platformdirs
pluggy
prometheus-fastapi-instrumentator
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure_eval
py-cpuinfo
py-spy
pyarrow
pyasn1
pyasn1_modules
pybind11
pycountry
pycparser
pycryptodome
pydantic
pydantic_core
Pygments
pynvml
PySocks 
pytest
python-dateutil
python-dotenv
python-json-logger
pytz
PyYAML 
pyzmq
ray
referencing
regex
requests 
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
safetensors
Send2Trash
sentencepiece
sentry-sdk
setproctitle
setuptools
six
smart-open
smmap
sniffio
soupsieve
stack-data
starlette
swanboard
swankit
swanlab
sympy
tensorboard
tensorboard-data-server
terminado
tiktoken
tinycss2
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
triton
trl
types-python-dateutil
typing_extensions 
tzdata
ujson
unsloth
uri-template
urllib3 
uvicorn
uvloop
virtualenv
vllm==0.9.1
wandb
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
widgetsnbextension
wrapt
xformers
xgrammar
xmltodict
xxhash
yarg
yarl
zipp
